
/* CSS GRID MARKUP FROM https://grid.layoutit.com/ */
/* FLEXIBLE VIDEO FRAME WITH HELP FROM: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.textInput {
  display: inline;
}

.grid-container {
  display: grid;
  grid-template-columns: 0fr 1fr 1fr 1fr;
  grid-template-rows: 5fr 1.5fr 1.5fr 4.4fr 2.6fr;
  grid-template-areas: "VIDEO VIDEO VIDEO VIDEO-LIST" "VIDEO VIDEO VIDEO VIDEO-LIST" ". VIDEO-DETAILS VIDEO-DETAILS TOOLS" ". NOTES NOTES TOOLS" ". NOTES NOTES .";
}

.TOOLS { grid-area: TOOLS; }

.VIDEO-DETAILS { grid-area: VIDEO-DETAILS; }

.NOTES { grid-area: NOTES; }

.VIDEO { 
  grid-area: VIDEO; 
  background: #aaa;
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  height: 0;
}

.VIDEO iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.VIDEO-LIST { grid-area: VIDEO-LIST; background: #bbb}

/* .VIDEO-DETAILS {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: ". . ." "NOTES NOTES NOTES";
  grid-area: VIDEO-DETAILS;
  background: #ccc
}

.NOTES { grid-area: NOTES; background: #ddd}

.TOOLS {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ." ". . .";
  grid-area: TOOLS;
  background: #eee;
} */


/* ADD MEDIA QUERIES FOR THE RE-SIZING AND REFLOW OF ALL BOXES */
