/* CSS GRID MARKUP FROM https://grid.layoutit.com/ */
/* FLEXIBLE VIDEO FRAME WITH HELP FROM: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
body {
  background-color: #222;
}

.textInput {
  display: inline;
}

.container {
  max-width: 95%;
  width: 95%;
}

.component {
  margin: 4px;
  padding: 0px;
  border-radius: 4px;
}

.spaced {
  margin: 0 5px 0 5px;
}

.VIDEO-DETAILS {
  background: #ddd;
  float: left;
  width: 65%;
  min-height: 100px;
}

.TOOLS {
  background: #ccc;
  float: right;
  width: 33%;
  height: 100px;
}

.NOTES {
  
}

.VIDEO {
  float: left;
  width: 65%;
  height: 500px;
  background: #aaa;
  position: relative;
  /* padding-bottom: 56.25%; 16:9 */
  /* padding-top: 25px; */
}

.VIDEO iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.CONTROL-FRAME {
  float: right;
  width: 33%;
  height: 700px;
  background: #bbb;
  min-height: 4em;
  max-height: 20%;
  overflow: hidden;
}

.CONTROLS {
  position: absolute;
  background: aliceblue;
  height: 170px;
  z-index: 100;
  padding: 15px;
}

.POST-CONTROL {
  position: relative;
  top: 175px;
}

.LIST-ITEM:hover {
  opacity: 0.85;
}

.notes-area {
  width: 390px;
  height: 400px;
  padding: 10px 0 0 14px;
  line-height: 2em;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.lesson-title {
  width: 390px;
  height: 40px;
  padding: 0 0 0 14px;
  line-height: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif
}

* {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-family: "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  line-height: 1.3;
}
p,
h1,
h3 {
  margin: 0 0 25px 0;
}
.wrapper {
  min-height: 100vh;
  padding: 10vh 10vw;
  background: #fffafa;
}
/* button base */
.btn {
  display: inline-flex;
  /* align-items: center;
  justify-content: space-between;
  margin-bottom: 8.333333333333334px;
  padding: 10px 25px; */
  border-radius: 2px;
  line-height: normal;
  font-size: 16px;
  color: #fff;
  background: #fff;
  /* svg icon */
  /* reveal svg icon */
  /* large button */
  /* styles */
}
.btn-icon {
  will-change: width, transform;
  width: 0;
  height: 24px;
  padding: 4px;
  border-radius: 50%;
  fill: #fff;
  background: rgba(0, 0, 0, 0.15);
  margin-left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  /* if you want the icon visible always */
}
.btn-icon--vis {
  width: 24px;
  -webkit-transform: scale(1);
  transform: scale(1);
  margin-left: 8.333333333333334px;
}
.btn:hover .btn-icon {
  width: 24px;
  -webkit-transform: scale(1);
  transform: scale(1);
  margin-left: 8.333333333333334px;
}
.btn--large {
  font-size: 20px;
}
.btn--large .btn-icon {
  height: 28px;
}
.btn--large:hover .btn-icon {
  width: 28px;
}
.btn--style1 {
  position: relative;
  z-index: 1;
}
.btn--style1:before {
  will-change: opacity;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 2px;
  background: #000;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn--style1:hover:before {
  opacity: 0.2;
}
.btn--style2 .btn-icon {
  -webkit-transform: scale(0) rotate(-360deg);
  transform: scale(0) rotate(-360deg);
}
.btn--style3 {
  position: relative;
  z-index: 1;
}
.btn--style3:before {
  will-change: opacity;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 2px;
  background: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  opacity: 0.2;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn--style3:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.btn--style4 {
  position: relative;
  z-index: 1;
}
.btn--style4:before {
  will-change: opacity;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 2px;
  background: #000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  opacity: 0.2;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn--style4:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/* block buttons */
.flex {
  display: flex;
}
.flex > .btn {
  flex: 1;
  margin-right: 3px;
}
.flex > .btn:last-child {
  margin-right: 0;
}
.max-w {
  max-width: 600px;
}
/* color classes */
.red {
  background: #f44336;
}
.pink {
  background: #e91e63;
}
.purple {
  background: #9c27b0;
}
.blue {
  background: #2196f3;
}
.teal {
  background: #009688;
}
.green {
  background: #4caf50;
}
.yellow {
  background: #ffeb3b;
}
.logo {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 2;
}
.logo img {
  width: 65px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.logo img:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
  transform: rotate(180deg) scale(1.1);
}

/* .VIDEO-DETAILS {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: ". . ." "NOTES NOTES NOTES";
  grid-area: VIDEO-DETAILS;
  background: #ccc
}

.NOTES { grid-area: NOTES; background: #ddd}

.TOOLS {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ." ". . .";
  grid-area: TOOLS;
  background: #eee;
} */

/* ADD MEDIA QUERIES FOR THE RE-SIZING AND REFLOW OF ALL BOXES */
